USE [master]
GO
/****** Object:  Database [MANAGEMENT_ISC]    Script Date: 2/27/2019 3:03:49 PM ******/
CREATE DATABASE [MANAGEMENT_ISC]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MANAGEMENT_ISC', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\MANAGEMENT_ISC.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MANAGEMENT_ISC_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\MANAGEMENT_ISC_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MANAGEMENT_ISC].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MANAGEMENT_ISC]
GO
/****** Object:  Table [dbo].[ACADEMIC]    Script Date: 2/27/2019 3:03:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ACADEMIC](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AcademicName] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASSES]    Script Date: 2/27/2019 3:03:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASSES](
	[CLASSID] [int] IDENTITY(1,1) NOT NULL,
	[COURSEID] [int] NULL,
	[SUBJECTID] [int] NULL,
	[CLASSNAME] [varchar](100) NULL,
	[PERCENTBANNEDTEST] [float] NULL,
	[PASSINGSCORE] [float] NULL,
 CONSTRAINT [PK_CLASSES] PRIMARY KEY CLUSTERED 
(
	[CLASSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLASSROOMS]    Script Date: 2/27/2019 3:03:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLASSROOMS](
	[IDROOM] [int] IDENTITY(1,1) NOT NULL,
	[ROOMNAME] [varchar](100) NULL,
	[DATEADDED] [datetime] NULL,
	[ADDEDPERSON] [int] NULL,
	[CAPACITY] [int] NULL,
 CONSTRAINT [PK_CLASSROOMS] PRIMARY KEY CLUSTERED 
(
	[IDROOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPANIES]    Script Date: 2/27/2019 3:03:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPANIES](
	[COMPANYID] [int] IDENTITY(1,1) NOT NULL,
	[COMPANYNAME] [varchar](250) NULL,
	[DIACHI] [varchar](100) NULL,
	[CONTECTPERSON] [varchar](100) NULL,
	[PHONE] [varchar](100) NULL,
	[STATUS] [tinyint] NULL,
 CONSTRAINT [PK_COMPANIES] PRIMARY KEY CLUSTERED 
(
	[COMPANYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSE_TRAINING]    Script Date: 2/27/2019 3:03:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSE_TRAINING](
	[COURSEID] [int] NOT NULL,
	[TRAININGID] [int] NOT NULL,
 CONSTRAINT [PK_COURSE_TRAINING] PRIMARY KEY CLUSTERED 
(
	[COURSEID] ASC,
	[TRAININGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COURSES]    Script Date: 2/27/2019 3:03:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COURSES](
	[COURSEID] [int] IDENTITY(1,1) NOT NULL,
	[COURSENAME] [varchar](500) NULL,
	[STARTDATE] [datetime] NULL,
	[ENDDATE] [datetime] NULL,
	[NOTE] [varchar](1200) NULL,
 CONSTRAINT [PK_COURSES] PRIMARY KEY CLUSTERED 
(
	[COURSEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DEGREE]    Script Date: 2/27/2019 3:03:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEGREE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DegreeName] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETAILSTIMETABLE]    Script Date: 2/27/2019 3:03:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETAILSTIMETABLE](
	[IDDETAIL] [int] IDENTITY(1,1) NOT NULL,
	[IDROOM] [int] NULL,
	[IDRECORD] [int] NULL,
	[ASSIGNMENTID] [int] NULL,
	[STARTTIME] [datetime] NULL,
	[ENDTIME] [datetime] NULL,
 CONSTRAINT [PK_DETAILSTIMETABLE] PRIMARY KEY CLUSTERED 
(
	[IDDETAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ENTRANCETESTS]    Script Date: 2/27/2019 3:03:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ENTRANCETESTS](
	[ENTRANCETESTID] [int] IDENTITY(1,1) NOT NULL,
	[COURSEID] [int] NULL,
	[TESTDATE] [datetime] NULL,
 CONSTRAINT [PK_ENTRANCETESTS] PRIMARY KEY CLUSTERED 
(
	[ENTRANCETESTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EXAMINATIONSUBJECTS]    Script Date: 2/27/2019 3:03:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EXAMINATIONSUBJECTS](
	[SUBJECTID] [int] IDENTITY(1,1) NOT NULL,
	[SUBJECTNAME] [varchar](200) NULL,
 CONSTRAINT [PK_EXAMINATIONSUBJECTS] PRIMARY KEY CLUSTERED 
(
	[SUBJECTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LEARNINGRESULT]    Script Date: 2/27/2019 3:03:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LEARNINGRESULT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CLASSID] [int] NULL,
	[IDSTUDENT] [int] NULL,
	[AVGSCORE] [float] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LECTURER_CLASSES]    Script Date: 2/27/2019 3:03:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LECTURER_CLASSES](
	[ASSIGNMENTID] [int] IDENTITY(1,1) NOT NULL,
	[CLASSID] [int] NULL,
	[USERID] [int] NULL,
 CONSTRAINT [PK_LECTURER_CLASSES] PRIMARY KEY CLUSTERED 
(
	[ASSIGNMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LECTURES]    Script Date: 2/27/2019 3:03:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LECTURES](
	[USERID] [int] IDENTITY(1,1) NOT NULL,
	[USE_USERID] [int] NULL,
	[DEGREE] [int] NULL,
	[ACADEMICRANK] [int] NULL,
	[STARTDAY] [datetime] NULL,
 CONSTRAINT [PK_LECTURES] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAJORS]    Script Date: 2/27/2019 3:03:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAJORS](
	[MAJORID] [int] IDENTITY(1,1) NOT NULL,
	[MAJORNAME] [varchar](200) NULL,
 CONSTRAINT [PK_MAJORS] PRIMARY KEY CLUSTERED 
(
	[MAJORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SPECIALIZEDTRAININGS]    Script Date: 2/27/2019 3:03:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SPECIALIZEDTRAININGS](
	[TRAININGID] [int] IDENTITY(1,1) NOT NULL,
	[TRAININGNAME] [varchar](500) NULL,
	[NUMBERWEEK] [smallint] NULL,
 CONSTRAINT [PK_SPECIALIZEDTRAININGS] PRIMARY KEY CLUSTERED 
(
	[TRAININGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STUDENTS]    Script Date: 2/27/2019 3:03:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS](
	[IDSTUDENT] [int] IDENTITY(1,1) NOT NULL,
	[UNIVERSITYID] [int] NULL,
	[MAJORID] [int] NULL,
	[USERID] [int] NULL,
	[CERTIFICATION] [bit] NULL,
	[DATEREADYTOWORK] [datetime] NULL,
	[DEPOSITS] [bit] NULL,
 CONSTRAINT [PK_STUDENTS] PRIMARY KEY CLUSTERED 
(
	[IDSTUDENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBJECTS]    Script Date: 2/27/2019 3:03:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECTS](
	[SUBJECTID] [int] IDENTITY(1,1) NOT NULL,
	[SUBJECTNAME] [varchar](300) NULL,
	[NUMBERLESSON] [smallint] NULL,
 CONSTRAINT [PK_SUBJECTS] PRIMARY KEY CLUSTERED 
(
	[SUBJECTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBJECTS_ENTRANCETESTS]    Script Date: 2/27/2019 3:03:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECTS_ENTRANCETESTS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SUBJECTID] [int] NOT NULL,
	[ENTRANCETESTID] [int] NOT NULL,
	[PASSINGSCORE] [int] NULL,
 CONSTRAINT [PK__SUBJECTS__3214EC275D6D2401] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestResults]    Script Date: 2/27/2019 3:03:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestResults](
	[Result_ID] [int] IDENTITY(1,1) NOT NULL,
	[SubjectID] [int] NULL,
	[UserID] [int] NULL,
	[EntranceTestID] [int] NULL,
	[Score] [float] NULL,
	[IsPassing] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Result_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIMETABLES]    Script Date: 2/27/2019 3:03:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIMETABLES](
	[IDRECORD] [int] IDENTITY(1,1) NOT NULL,
	[STARTDATE] [datetime] NULL,
	[ENDDATE] [datetime] NULL,
 CONSTRAINT [PK_TIMETABLES] PRIMARY KEY CLUSTERED 
(
	[IDRECORD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRAINING_SUBJECT]    Script Date: 2/27/2019 3:03:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRAINING_SUBJECT](
	[SUBJECTID] [int] NOT NULL,
	[TRAININGID] [int] NOT NULL,
 CONSTRAINT [PK_TRAINING_SUBJECT] PRIMARY KEY CLUSTERED 
(
	[SUBJECTID] ASC,
	[TRAININGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UNIVERSITYS]    Script Date: 2/27/2019 3:03:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UNIVERSITYS](
	[UNIVERSITYID] [int] IDENTITY(1,1) NOT NULL,
	[UNIVERSITYNAME] [varchar](500) NULL,
 CONSTRAINT [PK_UNIVERSITYS] PRIMARY KEY CLUSTERED 
(
	[UNIVERSITYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERS]    Script Date: 2/27/2019 3:03:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERS](
	[USERID] [int] IDENTITY(1,1) NOT NULL,
	[FIRSTNAME] [varchar](50) NULL,
	[LASTNAME] [varchar](50) NULL,
	[GENDER] [tinyint] NULL,
	[DOB] [datetime] NULL,
	[IDENTITYNUMBER] [char](15) NULL,
	[EMAIL] [char](50) NULL,
	[PHONE] [char](12) NULL,
	[ADDRESS] [varchar](1200) NULL,
	[IsStudent] [bit] NULL,
 CONSTRAINT [PK_USERS] PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WORKTRACKS]    Script Date: 2/27/2019 3:03:49 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WORKTRACKS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[COMPANYID] [int] NOT NULL,
	[IDSTUDENT] [int] NULL,
	[STARTDATE] [datetime] NULL,
	[CONTRACTDATE] [datetime] NULL,
	[STATUS] [tinyint] NULL,
	[NOTE] [text] NULL,
 CONSTRAINT [PK__WORKTRAC__3214EC275E494F49] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CLASSROOMS] ON 

INSERT [dbo].[CLASSROOMS] ([IDROOM], [ROOMNAME], [DATEADDED], [ADDEDPERSON], [CAPACITY]) VALUES (2, N'L.608', CAST(N'2019-02-24T00:00:00.000' AS DateTime), 1, 24)
INSERT [dbo].[CLASSROOMS] ([IDROOM], [ROOMNAME], [DATEADDED], [ADDEDPERSON], [CAPACITY]) VALUES (3, N'L.607', CAST(N'2019-02-24T00:00:00.000' AS DateTime), 1, 26)
INSERT [dbo].[CLASSROOMS] ([IDROOM], [ROOMNAME], [DATEADDED], [ADDEDPERSON], [CAPACITY]) VALUES (4, N'L.611', CAST(N'2019-02-24T00:00:00.000' AS DateTime), 1, 25)
SET IDENTITY_INSERT [dbo].[CLASSROOMS] OFF
SET IDENTITY_INSERT [dbo].[USERS] ON 

INSERT [dbo].[USERS] ([USERID], [FIRSTNAME], [LASTNAME], [GENDER], [DOB], [IDENTITYNUMBER], [EMAIL], [PHONE], [ADDRESS], [IsStudent]) VALUES (1, N'Thanh', N'Nguyen', 1, CAST(N'1997-07-07T00:00:00.000' AS DateTime), NULL, N'langtuvutrutsv1@gmail.com                         ', N'0398869843  ', N'Binh Duong', 1)
SET IDENTITY_INSERT [dbo].[USERS] OFF
/****** Object:  Index [RELATIONSHIP_10_FK]    Script Date: 2/27/2019 3:03:49 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_10_FK] ON [dbo].[CLASSES]
(
	[COURSEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_18_FK]    Script Date: 2/27/2019 3:03:49 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_18_FK] ON [dbo].[CLASSES]
(
	[SUBJECTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_22_FK]    Script Date: 2/27/2019 3:03:49 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_22_FK] ON [dbo].[COURSE_TRAINING]
(
	[COURSEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_23_FK]    Script Date: 2/27/2019 3:03:49 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_23_FK] ON [dbo].[COURSE_TRAINING]
(
	[TRAININGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [AT_FK]    Script Date: 2/27/2019 3:03:49 PM ******/
CREATE NONCLUSTERED INDEX [AT_FK] ON [dbo].[DETAILSTIMETABLE]
(
	[IDROOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HAS1_FK]    Script Date: 2/27/2019 3:03:49 PM ******/
CREATE NONCLUSTERED INDEX [HAS1_FK] ON [dbo].[DETAILSTIMETABLE]
(
	[ASSIGNMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [INCLUDE1_FK]    Script Date: 2/27/2019 3:03:49 PM ******/
CREATE NONCLUSTERED INDEX [INCLUDE1_FK] ON [dbo].[DETAILSTIMETABLE]
(
	[IDRECORD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_9_FK]    Script Date: 2/27/2019 3:03:49 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_9_FK] ON [dbo].[ENTRANCETESTS]
(
	[COURSEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_19_FK]    Script Date: 2/27/2019 3:03:49 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_19_FK] ON [dbo].[LEARNINGRESULT]
(
	[CLASSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [BE_ASSIGN_FK]    Script Date: 2/27/2019 3:03:49 PM ******/
CREATE NONCLUSTERED INDEX [BE_ASSIGN_FK] ON [dbo].[LECTURER_CLASSES]
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_6_FK]    Script Date: 2/27/2019 3:03:49 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_6_FK] ON [dbo].[LECTURER_CLASSES]
(
	[CLASSID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [FROM2_FK]    Script Date: 2/27/2019 3:03:49 PM ******/
CREATE NONCLUSTERED INDEX [FROM2_FK] ON [dbo].[STUDENTS]
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HAS2_FK]    Script Date: 2/27/2019 3:03:49 PM ******/
CREATE NONCLUSTERED INDEX [HAS2_FK] ON [dbo].[STUDENTS]
(
	[MAJORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [HAS3_FK]    Script Date: 2/27/2019 3:03:49 PM ******/
CREATE NONCLUSTERED INDEX [HAS3_FK] ON [dbo].[STUDENTS]
(
	[UNIVERSITYID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_24_FK]    Script Date: 2/27/2019 3:03:49 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_24_FK] ON [dbo].[SUBJECTS_ENTRANCETESTS]
(
	[SUBJECTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_25_FK]    Script Date: 2/27/2019 3:03:49 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_25_FK] ON [dbo].[SUBJECTS_ENTRANCETESTS]
(
	[ENTRANCETESTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_26_FK]    Script Date: 2/27/2019 3:03:49 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_26_FK] ON [dbo].[TRAINING_SUBJECT]
(
	[SUBJECTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [RELATIONSHIP_27_FK]    Script Date: 2/27/2019 3:03:49 PM ******/
CREATE NONCLUSTERED INDEX [RELATIONSHIP_27_FK] ON [dbo].[TRAINING_SUBJECT]
(
	[TRAININGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CLASSES]  WITH CHECK ADD  CONSTRAINT [FK_CLASSES_RELATIONS_COURSES] FOREIGN KEY([COURSEID])
REFERENCES [dbo].[COURSES] ([COURSEID])
GO
ALTER TABLE [dbo].[CLASSES] CHECK CONSTRAINT [FK_CLASSES_RELATIONS_COURSES]
GO
ALTER TABLE [dbo].[CLASSES]  WITH CHECK ADD  CONSTRAINT [FK_CLASSES_RELATIONS_SUBJECTS] FOREIGN KEY([SUBJECTID])
REFERENCES [dbo].[SUBJECTS] ([SUBJECTID])
GO
ALTER TABLE [dbo].[CLASSES] CHECK CONSTRAINT [FK_CLASSES_RELATIONS_SUBJECTS]
GO
ALTER TABLE [dbo].[COURSE_TRAINING]  WITH CHECK ADD  CONSTRAINT [FK_COURSE_T_RELATIONS_COURSES] FOREIGN KEY([COURSEID])
REFERENCES [dbo].[COURSES] ([COURSEID])
GO
ALTER TABLE [dbo].[COURSE_TRAINING] CHECK CONSTRAINT [FK_COURSE_T_RELATIONS_COURSES]
GO
ALTER TABLE [dbo].[COURSE_TRAINING]  WITH CHECK ADD  CONSTRAINT [FK_COURSE_T_RELATIONS_SPECIALI] FOREIGN KEY([TRAININGID])
REFERENCES [dbo].[SPECIALIZEDTRAININGS] ([TRAININGID])
GO
ALTER TABLE [dbo].[COURSE_TRAINING] CHECK CONSTRAINT [FK_COURSE_T_RELATIONS_SPECIALI]
GO
ALTER TABLE [dbo].[DETAILSTIMETABLE]  WITH CHECK ADD  CONSTRAINT [FK_DETAILST_AT_CLASSROO] FOREIGN KEY([IDROOM])
REFERENCES [dbo].[CLASSROOMS] ([IDROOM])
GO
ALTER TABLE [dbo].[DETAILSTIMETABLE] CHECK CONSTRAINT [FK_DETAILST_AT_CLASSROO]
GO
ALTER TABLE [dbo].[DETAILSTIMETABLE]  WITH CHECK ADD  CONSTRAINT [FK_DETAILST_HAS1_LECTURER] FOREIGN KEY([ASSIGNMENTID])
REFERENCES [dbo].[LECTURER_CLASSES] ([ASSIGNMENTID])
GO
ALTER TABLE [dbo].[DETAILSTIMETABLE] CHECK CONSTRAINT [FK_DETAILST_HAS1_LECTURER]
GO
ALTER TABLE [dbo].[DETAILSTIMETABLE]  WITH CHECK ADD  CONSTRAINT [FK_DETAILST_INCLUDE1_TIMETABL] FOREIGN KEY([IDRECORD])
REFERENCES [dbo].[TIMETABLES] ([IDRECORD])
GO
ALTER TABLE [dbo].[DETAILSTIMETABLE] CHECK CONSTRAINT [FK_DETAILST_INCLUDE1_TIMETABL]
GO
ALTER TABLE [dbo].[ENTRANCETESTS]  WITH CHECK ADD  CONSTRAINT [FK_ENTRANCE_RELATIONS_COURSES] FOREIGN KEY([COURSEID])
REFERENCES [dbo].[COURSES] ([COURSEID])
GO
ALTER TABLE [dbo].[ENTRANCETESTS] CHECK CONSTRAINT [FK_ENTRANCE_RELATIONS_COURSES]
GO
ALTER TABLE [dbo].[LEARNINGRESULT]  WITH CHECK ADD  CONSTRAINT [FK_ASSIGNME_RELATIONS_CLASSES] FOREIGN KEY([CLASSID])
REFERENCES [dbo].[CLASSES] ([CLASSID])
GO
ALTER TABLE [dbo].[LEARNINGRESULT] CHECK CONSTRAINT [FK_ASSIGNME_RELATIONS_CLASSES]
GO
ALTER TABLE [dbo].[LEARNINGRESULT]  WITH CHECK ADD  CONSTRAINT [FK_ASSIGNME_RELATIONS_STUDENTS] FOREIGN KEY([IDSTUDENT])
REFERENCES [dbo].[STUDENTS] ([IDSTUDENT])
GO
ALTER TABLE [dbo].[LEARNINGRESULT] CHECK CONSTRAINT [FK_ASSIGNME_RELATIONS_STUDENTS]
GO
ALTER TABLE [dbo].[LECTURER_CLASSES]  WITH CHECK ADD  CONSTRAINT [FK_LECTURER_BE_ASSIGN_LECTURES] FOREIGN KEY([USERID])
REFERENCES [dbo].[LECTURES] ([USERID])
GO
ALTER TABLE [dbo].[LECTURER_CLASSES] CHECK CONSTRAINT [FK_LECTURER_BE_ASSIGN_LECTURES]
GO
ALTER TABLE [dbo].[LECTURER_CLASSES]  WITH CHECK ADD  CONSTRAINT [FK_LECTURER_RELATIONS_CLASSES] FOREIGN KEY([CLASSID])
REFERENCES [dbo].[CLASSES] ([CLASSID])
GO
ALTER TABLE [dbo].[LECTURER_CLASSES] CHECK CONSTRAINT [FK_LECTURER_RELATIONS_CLASSES]
GO
ALTER TABLE [dbo].[LECTURES]  WITH CHECK ADD  CONSTRAINT [FK_LECTURES_ACADEMIC] FOREIGN KEY([ACADEMICRANK])
REFERENCES [dbo].[ACADEMIC] ([Id])
GO
ALTER TABLE [dbo].[LECTURES] CHECK CONSTRAINT [FK_LECTURES_ACADEMIC]
GO
ALTER TABLE [dbo].[LECTURES]  WITH CHECK ADD  CONSTRAINT [FK_LECTURES_DEGREE] FOREIGN KEY([DEGREE])
REFERENCES [dbo].[DEGREE] ([Id])
GO
ALTER TABLE [dbo].[LECTURES] CHECK CONSTRAINT [FK_LECTURES_DEGREE]
GO
ALTER TABLE [dbo].[LECTURES]  WITH CHECK ADD  CONSTRAINT [FK_LECTURES_USERS] FOREIGN KEY([USE_USERID])
REFERENCES [dbo].[USERS] ([USERID])
GO
ALTER TABLE [dbo].[LECTURES] CHECK CONSTRAINT [FK_LECTURES_USERS]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [FK_STUDENTS_HAS2_MAJORS] FOREIGN KEY([MAJORID])
REFERENCES [dbo].[MAJORS] ([MAJORID])
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [FK_STUDENTS_HAS2_MAJORS]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [FK_STUDENTS_HAS3_UNIVERSI] FOREIGN KEY([UNIVERSITYID])
REFERENCES [dbo].[UNIVERSITYS] ([UNIVERSITYID])
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [FK_STUDENTS_HAS3_UNIVERSI]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [FK_STUDENTS_USERS] FOREIGN KEY([USERID])
REFERENCES [dbo].[USERS] ([USERID])
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [FK_STUDENTS_USERS]
GO
ALTER TABLE [dbo].[SUBJECTS_ENTRANCETESTS]  WITH CHECK ADD  CONSTRAINT [FK_SUBJECTS_RELATIONS_ENTRANCE] FOREIGN KEY([ENTRANCETESTID])
REFERENCES [dbo].[ENTRANCETESTS] ([ENTRANCETESTID])
GO
ALTER TABLE [dbo].[SUBJECTS_ENTRANCETESTS] CHECK CONSTRAINT [FK_SUBJECTS_RELATIONS_ENTRANCE]
GO
ALTER TABLE [dbo].[SUBJECTS_ENTRANCETESTS]  WITH CHECK ADD  CONSTRAINT [FK_SUBJECTS_RELATIONS_EXAMINAT] FOREIGN KEY([SUBJECTID])
REFERENCES [dbo].[EXAMINATIONSUBJECTS] ([SUBJECTID])
GO
ALTER TABLE [dbo].[SUBJECTS_ENTRANCETESTS] CHECK CONSTRAINT [FK_SUBJECTS_RELATIONS_EXAMINAT]
GO
ALTER TABLE [dbo].[TestResults]  WITH CHECK ADD FOREIGN KEY([UserID])
REFERENCES [dbo].[USERS] ([USERID])
GO
ALTER TABLE [dbo].[TestResults]  WITH CHECK ADD  CONSTRAINT [FK_TestResults_EXAMINATIONSUBJECTS] FOREIGN KEY([SubjectID])
REFERENCES [dbo].[EXAMINATIONSUBJECTS] ([SUBJECTID])
GO
ALTER TABLE [dbo].[TestResults] CHECK CONSTRAINT [FK_TestResults_EXAMINATIONSUBJECTS]
GO
ALTER TABLE [dbo].[TRAINING_SUBJECT]  WITH CHECK ADD  CONSTRAINT [FK_TRAINING_RELATIONS_SPECIALI] FOREIGN KEY([TRAININGID])
REFERENCES [dbo].[SPECIALIZEDTRAININGS] ([TRAININGID])
GO
ALTER TABLE [dbo].[TRAINING_SUBJECT] CHECK CONSTRAINT [FK_TRAINING_RELATIONS_SPECIALI]
GO
ALTER TABLE [dbo].[TRAINING_SUBJECT]  WITH CHECK ADD  CONSTRAINT [FK_TRAINING_RELATIONS_SUBJECTS] FOREIGN KEY([SUBJECTID])
REFERENCES [dbo].[SUBJECTS] ([SUBJECTID])
GO
ALTER TABLE [dbo].[TRAINING_SUBJECT] CHECK CONSTRAINT [FK_TRAINING_RELATIONS_SUBJECTS]
GO
ALTER TABLE [dbo].[WORKTRACKS]  WITH CHECK ADD  CONSTRAINT [FK_WORKTRAC_HAS4_STUDENTS] FOREIGN KEY([IDSTUDENT])
REFERENCES [dbo].[STUDENTS] ([IDSTUDENT])
GO
ALTER TABLE [dbo].[WORKTRACKS] CHECK CONSTRAINT [FK_WORKTRAC_HAS4_STUDENTS]
GO
ALTER TABLE [dbo].[WORKTRACKS]  WITH CHECK ADD  CONSTRAINT [FK_WORKTRAC_RELATIONS_COMPANIE] FOREIGN KEY([COMPANYID])
REFERENCES [dbo].[COMPANIES] ([COMPANYID])
GO
ALTER TABLE [dbo].[WORKTRACKS] CHECK CONSTRAINT [FK_WORKTRAC_RELATIONS_COMPANIE]
GO
USE [master]
GO
